<p id="notice"><%= notice %></p>

<h1>Listing Blogs</h1>
<div class="container">
<table class="table table-striped">
  <!-- <caption>blog notes</caption> -->
  <thead>
    <tr>
      <th class="col-xs-5">Title</th>
      <th class="col-md-1 hidden-xs">Category</th>
      <th class="col-md-4 hidden-xs">Secnario</th>
      <th class="col-md-1 hidden-xs">Level</th>
      <th class="col-xs-1">Mod</th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td class="col-xs-5"><%= blog.title %></td>
        <td class="col-md-1 hidden-xs"><%= blog.category %></td>
        <td class="col-md-4 hidden-xs"><%= blog.secnario %></td>
        <td class="col-md-1 hidden-xs"><%= blog.level %></td>
        <td class="col-xs-1">
        <%= link_to '', blog, :class=>'glyphicon glyphicon-envelope' %>
        <%= link_to '', edit_blog_path(blog), class: 'glyphicon glyphicon-edit' %>
        <%= link_to '', blog, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'glyphicon' %>  <!-- glyphicon-remove -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="container">
  <%= link_to 'New Blog', new_blog_path, class: "btn btn-default btn-sm glyphicon glyphicon-plus-sign" %>
</div>

    <div class="container text-center">
       <ul class="pagination">
         <li class="disabled"><a href="">&laquo;</a></li>
         <li class="active"><a href="">1</a></li>
         <li class=""><a href="">2</a></li>
         <li class=""><a href="">3</a></li>
         <li class=""><a href="">4</a></li>
         <li class=""><a href="">5</a></li>
         <li class=""><a href="">&raquo;</a></li>
       </ul>
    </div>
